---
title: Events
basePath: src/content/sf2014/
---
<h1>Events</h1>
{{#markdown}}
  {{#compose src='about.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}
{{/markdown}}

  {{#compose src='schedule.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}

{{#markdown}}
  {{#compose src='prizes.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}
  {{#compose src='people.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}
  {{#compose src='sponsors.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}
  {{#compose src='api.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}
  {{#compose src='rules.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}
  {{#compose src='faq.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}
  {{#compose src='footer.md' cwd=basePath}}
    {{{@content}}}
  {{/compose}}
{{/markdown}}
