---
title: Leadership
main: true
layout: src/templates/layouts/single.hbs
---
<article id="main">
  <header class="special container" style="color: white">
    <span class="icon fa-users"></span>
    <h2>{{title}}</h2>
    <p></p>
  </header>


<section>
<img src="{{assets}}/images/mentors/chrisarmas.jpg"/>
<h2>Chris Armas</h2>
<h1> Founder and Managing Director, Code for the Kingdom</h1>
Chris Armas leads the Code for the Kingdom Initiative globally. Chris is a consummate business and technology thought leader. Chris has been a global technology entrepreneur having launched two successful startups, as well as being CIO/CTO at Fortune 500 companies. Chris focus now is to help engage, challenge, release, and support the most brilliant minds of the entrepreneurial and tech sector to create technologies that would affect our communities and culture from a Christian perspective.
</section>

<p></p>

</section>
<img src="{{assets}}/images/mentors/shamichael_hallman.jpg"/>
<h2>Shamichael Hallman</h2>
Shamichael serves as Campus Pastor at New Direction Christian Church in Memphis, TN. He has both competed and worked with  Code For The Kingdom from the very first hackathon.
</section>

<p></p>

<section>
<img src="{{assets}}/images/mentors/chris_lim.png"/>
<h2>Chris Lim</h2>
Christopher Lim is founder of <a style="color:white" href="http://www.theotech.org">TheoTech</a>, a company activating a movement of Technology Entrepreneurship for the Gospel. This means beginning with God as the Customer and working backwards to create the things He desires to see in the world.

As a practitioner, Chris is focused on <a style="color:white" href="http://www.ceaselessprayer.com">Ceaseless</a>, a technology­supported movement to personally pray for everyone on earth. He is also developing a system to help churches reflect the multilingual glory of God's kingdom by subtitling messages in real time so that congregations no longer need to be segregated by language.

Chris loves seeing the implications of a thoughtful theology of technology worked out in real world products that transform people's lives and give them a foretaste of God's Kingdom.

You can reach him on twitter @meritandgrace and read his blog at <a style="color:white" href="http://www.meritandgrace.com">www.meritandgrace.com</a>.
<p></p>

<section>
<img src="{{assets}}/images/mentors/diane_hoeft.jpg"/>
<h2>Marc Krejci</h2>
Diane Hoeft has worked for 16 years in marketing and product roles in the US and Europe. At Microsoft, she helped define business relationships with external partners in the US and the UK. She moved to England in 2005 and joined Dow Jones to build their sales and operations unit for the EMEA digital business. In 2010, she founded Shopvolution, the developer of social shopping tool Shopcade.  Her experience has given her a passion for digging in with tech teams to bring products to life.  Diane serves on the board of Kiros and attends University Presbyterian Church in Seattle.  She has a toddler and loves dreaming up ways technology will be a part of her daughters life as she grows.

<p></p>


<section>
<img src="{{assets}}/images/mentors/marckrejci.jpg"/>
<h2>Marc Krejci</h2>
Marc Krejci came up through the music industry, tripped over entrepreneurship, and became a pastor after establishing himself in the world of technology.

Passionate about making the invisible, visible; and the impossible seem possible, he finds joy serving the one true King, pursuing epic outdoor adventures, and developing ecosystems of innovation.
<p></p>

<section>
<img src="{{assets}}/images/mentors/mikie_han.jpg"/>
<h2>Dr. Mi Kyung Han</h2>
Dr. Mi Kyung Han is an assistant professor at CSDS department at California Baptist University. Previously she worked at Microsoft for 4 years as a software development engineer in Power BI (www.powerbi.com) team.

She has passion for students and looks forward to creating marketplace miracles with her students to expand the Kingdom of God to all nations. She loves to code, debug, sing and play piano. She is blessed to be married to Kyungsoo Im. She and Kyungsoo recently organized Code for The Kingdom@ Microsoft hackathon and look forward to continue such effort at CBU developing applications with students that will transform many lives leading many to righteousness (Daniel 12:3).
<p></p>

</article>
