---
component: event-header
---
<!-- Header -->
<header id="header" class="alt">
  <h1 id="logo"><a href="{{relative page.dest "dist/index.html"}}">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="current"><a href="index.html">Welcome</a></li>
      <li class="submenu">
        <a href="">Menu</a>
        <ul>
          {{#each sections}}
            {{#isnt this.title '(hidden)'}}
            <li>
              <a href="#{{this.path}}">{{ this.title }}</a>
            </li>
            {{/isnt}}
          {{/each}}
          <li class="submenu"><a href="#">Events</a>
            <ul>
              {{#each pages}}
                {{#is data.event "latest"}}
                <li>
                  <a href="{{relative dest this.dest}}">{{data.title}}</a>
                </li>
                {{/is}}
              {{/each}}
            </ul>
          </li>
          {{#each pages}}
            {{#is data.main true}}
            <li>
              <a href="{{relative dest this.dest}}">{{ data.title }}</a>
            </li>
            {{/is}}
          {{/each}}
          <li class="submenu"><a href="">About us</a>
            <ul>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#" class="button special">Sign Up</a></li>
    </ul>
  </nav>
</header>
