---
component: header
---
<!-- Header -->
<header id="header" class="alt">
  <h1 id="logo"><a href="{{relative page.dest "dist/index.html"}}">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="current"><a href="index.html">Home</a></li>
      <li class="submenu">
        <a href="">Menu</a>
        <ul>
          {{#each pages}}
            {{#is data.main true}}
            <li>
              <a href="{{relative dest this.dest}}">{{ data.title }}</a>
            </li>
            {{/is}}
          {{/each}}
          <li class="submenu"><a href="#">Events</a>
            <ul>
              {{#each pages}}
                {{#is data.event "latest"}}
                <li>
                {{#is data.title "Jakarta 2016"}}
                    <a href="http://codeforthekingdom.id">{{data.title}}</a>

                  {{else }}
                    {{#is data.title  "Los Angeles 2015"}}
                      <a href="http://www.codeforthekingdomla.com">{{data.title}}</a>
                    {{else }}
                      {{#is data.title  "Nashville 2018"}}
                         <a href="http://codeforthekingdomnashville.org">{{data.title}}</a>
                      {{else }}
                          {{#is data.title  "Chicago 2017"}}
                            <a href="https://www.chic4tk.tech">{{data.title}}</a>
                          {{else }}

                           {{#is data.title  "London 2016"}}
                              <a href="http://kingdomcode.uk">{{data.title}}</a>
                            {{else }}
                              <a href="{{relative dest this.dest}}">{{data.title}}</a>
                          {{/is}}
                        {{/is}}
                      {{/is}}
                    {{/is}}
                  {{/is}}

                </li>
                {{/is}}
              {{/each}}
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="https://www.facebook.com/code4thekingdom/" class="button special">Community</a></li>
    </ul>
  </nav>
</header>
