---
component: header
---
<!-- Header -->
<header id="header" class="alt">
  <h1 id="logo"><a href="{{relative page.dest "dist/index.html"}}">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="current"><a href="index.html">Home</a></li>
      <li class="submenu">
        <a href="">Menu</a>
        <ul>
          {{#each pages}}
            {{#is data.main true}}
            <li>
              <a href="{{relative dest this.dest}}">{{ data.title }}</a>
            </li>
            {{/is}}
          {{/each}}
          <li class="submenu"><a href="#">Events</a>
            <ul>
              {{#each pages}}
                {{#is data.event "latest"}}
                <li>
                  <a href="{{relative dest this.dest}}">{{data.title}}</a>
                </li>
                {{/is}}
              {{/each}}
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="https://plus.google.com/communities/112803271040533425213" class="button special">Community</a></li>
    </ul>
  </nav>
</header>
